@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding-top: 75px;
}

#header {
    padding: 10px 0px;
    width: 100%;
    position: fixed;
    top: 2px;
    left: 0px;
    background-color:blanchedalmond;
    z-index: 999;
}

.form-search {
    display: inline-block;
}
.form {
    position: relative;
    width: 100%;
    max-width: 150px;
}

.form-input {
    width: 100%;
}

.form-button {
    border: none;
    position: absolute;
    top: 5px;
    right: 3px;
    height: 15px;
    padding: 0px 8px;
}

.nav {
    padding-top: 10px;
    text-align: right;
}

.nav-a {
    color: black;
    text-decoration: none;
    margin: 0px 10px;
}

.nav-a:hover {
    color: crimson;
    transition: color 0.3s;
}

.main {
    background-image: url(background_image.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 10px 0px 30px 0px;
    position: relative;
}

.main-text {
    color:gainsboro;
}

.main-button-wrapper {
    width: 100%;
    display: inline-block;
}

.main-button {
    margin: 0px 10px;
    text-decoration: none;
    background-color: burlywood;
    color:darkred;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
}

.main-button:first-child {
    margin-left: 0;
}

.news {
    padding: 30px 17%; 
}

.news-read-more-wrapper {
    width: 100%;
    text-align: right;
}

.news-read-more {
    color:black;
}
.banner {
    background-color: aquamarine;
    padding: 10px 0px 40px 0px;
}

.slider {
    width: 100%;
    position: relative;
}

.slider-prev {
    position: absolute;
    left: -20px;
    top: 50%;
}

.slider-next {
    position: absolute;
    right: -20px;
    top: 50%;
}

.slider-prev:hover,
.slider-next:hover {
    background-color:coral;
    transition: color 0.5s;
    cursor: pointer;
}

.slider-dots {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    z-index: 1;
    text-align: center;
}

.slider-dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.slider-dot:hover, 
.slider-dot.active {
    transition: background-color 0.3s;
    background-color: black;
}

.content-table {
    margin: auto;
    text-align: center;
    border: 2px solid black;
}

.content-table th,
.content-table td {
    border: 2px solid black;
    padding: 20px;
}